body {
    overflow-x: overlay;
}

p {
    margin: 0;
}

[class*='gm-style-iw'] {
    background-color: transparent !important;
    box-shadow: none !important;
    overflow-x: visible !important;
    overflow-y: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

div.gm-style-iw-tc {
    display: none !important;
}

.gm-ui-hover-effect {
    display: none !important;
}

.gm-style-iw-tc::after {
    display: none !important;
}

body {
    background-color: #212121 !important;
    background-image: url('/house.png');
    background-repeat: repeat;
}

.recharts-scatter-symbol {
    cursor: pointer;
}

.carrousselNavContainer {
    position: absolute !important;
    width: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: 24px !important;
    top: calc(50% - 32px) !important;
    color: rgba(0, 0, 0, 0.54) !important;
}

@media (hover: hover) {
    .carrousselNavContainer:hover {
        color: rgba(0, 0, 0, 0.33) !important;
    }
}
