# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# All
node_modules



#back
datacleaning.sql
# testing
test.js
structure.js
/coverage
*.sh
.env

#front
.env.local

.next/
/out/
front/cypress/screenshots/**/*
front/cypress/videos/**/*

# other
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files

# vercel
.vercel

# typescript

next-env.d.ts
